.LoginPage {
  background-image: linear-gradient(to top, #fed6e3 0%, #ace0f9 100%);
  color: #3E3E3E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  &__button {
    margin-top: 4rem;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.6) !important;
  }
}